---
layout: default
---

{% if page.header.overlay_color or page.header.overlay_image or page.header.image %}
  {% include page__hero.html %}
{% endif %}

{% if page.url != "/" and site.breadcrumbs %}
  {% unless paginator %}
    {% include breadcrumbs.html %}
  {% endunless %}
{% endif %}

<div id="main" role="main">
  {% include sidebar.html %}

  <div class="archive">
    {% unless page.header.overlay_color or page.header.overlay_image %}
      <h1 id="page-title" class="page__title"{% if page.locale %} lang="{{ page.locale }}"{% endif %}>{{ page.title }}</h1>
    {% endunless %}

    {{ content }}

    {%- assign search_provider = site.search_provider | default: "lunr" -%}
    {%- assign search_label = site.data.ui-text[site.locale].search_label_text | default: site.data.ui-text[site.locale].search_placeholder_text | default: "검색어를 입력하세요…" -%}
    {%- case search_provider -%}
      {%- when "lunr" -%}
        <label class="visually-hidden" for="search">{{ search_label }}</label>
        <input
          type="search"
          id="search"
          class="search-input"
          name="q"
          autocomplete="off"
          spellcheck="false"
          placeholder="{{ site.data.ui-text[site.locale].search_placeholder_text | default: '검색어를 입력하세요…' }}"
        />
        <div id="results" class="results" role="region" aria-live="polite" aria-atomic="true"></div>
      {%- when "google" -%}
        <form onsubmit="return googleCustomSearchExecute();" id="cse-search-box-form-id">
          <label class="visually-hidden" for="cse-search-input-box-id">{{ search_label }}</label>
          <input
            type="search"
            id="cse-search-input-box-id"
            class="search-input"
            name="q"
            autocomplete="off"
            spellcheck="false"
            placeholder="{{ site.data.ui-text[site.locale].search_placeholder_text | default: '검색어를 입력하세요…' }}"
          />
        </form>
        <div id="results" class="results" role="region" aria-live="polite" aria-atomic="true">
          <gcse:searchresults-only></gcse:searchresults-only>
        </div>
      {%- when "algolia" -%}
        <div class="search-searchbar"></div>
        <div class="search-hits" role="region" aria-live="polite" aria-atomic="true"></div>
    {%- endcase -%}
  </div>
</div>
